   @font-face{
       font-family: "font";
       src: url("fonts/AndroidAssassinItalic-eDDp.ttf") format("truetype");
   }   

   .background > img{
       position: fixed;
       left: 0px;
       top: 0px;
       width: 95em;
       height: 100em;
   }

   header > h1{
       position: absolute;
       top: 5em;
       left: 20em;
       z-index: 2;
       color: white;
       font-family: 'font';
   }

   header > img{
       position: absolute;
       z-index: 2;
       left: 23em;
       top: 1.5em;
       height: 17em;
       opacity: .6;
   }

   ul{
    position: absolute;
    list-style: none;
    top: -2em;
    display: flex; /*inline, block, inline-block, none*/
    flex-direction: column;/*column, row-reverse, column reverse*/
    flex-wrap: wrap;/*no-wrap, wrap-reverse, wrap*/
    justify-content: flex-end;/*flex-end, center, space-evenly,space-between, space-around, flex-start*/
    align-content: flex-start;/*flex-end, center, space-between,flex-start, space-evenly, space-around, stretch*/
    z-index: 2;
   
} 

   li{
    text-align: left;
    float: left;
    display: block;
    text-decoration: underline;
    position: relative;
    transition-duration: 0.5s; 
    color: white;
    
}

   ul li ul{
    border-radius: 20px;
    text-align: left;
    background: black;
    visibility: hidden;
    opacity: 0;
    min-width: 1rem;
    position: absolute;
    transition: all 2s ease;
    margin-top: 3rem;
    left:0px;
    display: none;
    
   }

   ul li:hover > ul, 
   ul li ul:hover{
       text-align: center;
       top: 35px;
       left: 20px;
       visibility: visible;
       opacity: 1;
       display: block;
      
   }

   ul li ul li{
       clear: both;
       width: 75%;
       color: green;
       width: 10em;
       list-style-image: url('../images/alienhead2.png');
   }

   .flex1{
    order: 1;
    margin: 1.5em;
    padding: 1.5em;
    flex: 5 5 1em;/*growth stretch/shrink flex-basis*/
    color: white;
   } 

   .shipleft > img{
       height: 12em;
       width: 12em;
       position: absolute;
       right: -200px;
       top: 22em;
       -ms-transform: translate(-1500px, 0px);
       -webkit-transform: translate(-1500px, 0px);
       transform: translate(-1500px, 0px);
       transition: 2s;
   }

   .gif > img{
      width: 80em;
      height: 90em;
      -webkit-transform: rotateZ(3600000deg);
      transform: rotateZ(3600000deg);
      transition: 300000s;

   }
   
   .back > img{
       position: absolute;
       top: 0px;
       right: 0px;
       height: 20em;
       width: 20em;
       z-index: 2;
       opacity: 1;
   }

   .black > img{
       position: absolute;
       top: 0px;
       left: 0px;
       width: 90em;
       height: 20em;
       z-index: 1;
       opacity: .85;
   }